<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coding Stats API{% endblock %}</title>

    <link rel="stylesheet" href="/static/style.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="container nav-container">

        <a href="/" class="logo">
            ⚡ CodingStats
        </a>

        <nav class="nav-links">
            <a href="/leetcode" class="nav-link">LeetCode</a>
            <a href="/codechef" class="nav-link">CodeChef</a>
            <a href="/codeforces" class="nav-link">Codeforces</a>
        </nav>

    </div>
</header>