<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coding Stats API{% endblock %}</title>

    <link rel="stylesheet" href="/static/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="container nav-container">

        <a href="{{ url_for('home_page') }}" class="logo">
            ⚡ CodingStats
        </a>

        <nav class="nav-links">
            <a href="{{ url_for('leetcode_guide')}}" class="nav-link {% if active == 'leetcode' %}active{% endif %}">LeetCode</a>
            <a href="{{ url_for('codechef_guide')}}" class="nav-link {% if active == 'codechef' %}active{% endif %}">CodeChef</a>
            <a href="{{ url_for('codeforces_guide')}}" class="nav-link {% if active == 'codeforces' %}active{% endif %}">Codeforces</a>
        </nav>

    </div>
</header>