{% include "header.html" %}

<section class="hero">
  <div class="container hero-content">

    <h1>
      Coding Stats API
    </h1>

    <p class="hero-sub">
      Fetch coding statistics from <span>LeetCode</span>, 
      <span>Codeforces</span>, and <span>CodeChef</span> using simple REST APIs.
    </p>

    <div class="hero-box">
      <code>GET /leetcode/your_user_name</code>
    </div>

  </div>
</section>

<section class="api-section">
  <div class="container">

    <h2 class="section-title">Available APIs</h2>

    <div class="cards">

      
      <div class="card">
        <div class="card-header">
          <h3>LeetCode</h3>
          <span class="tag">API</span>
        </div>

        <p class="card-desc">
          Problem-solving stats and contest performance.
        </p>

        <ul class="card-list">
          <li>Total solved problems</li>
          <li>Easy / Medium / Hard breakdown</li>
          <li>Contest rating & ranking</li>
        </ul>

        <div class="endpoint">GET url/leetcode/&lt;user_name&gt;</div>

        <a href="{{ url_for('leetcode_guide') }}" class="btn">View Docs</a>
      </div>

      
      <div class="card">
        <div class="card-header">
          <h3>Codeforces</h3>
          <span class="tag">API</span>
        </div>

        <p class="card-desc">
          Competitive programming ratings,problem solved count and stats.
        </p>

        <ul class="card-list">
          <li>Current & max rating</li>
          <li>Rank (Expert, Master, etc.)</li>
          <li>Total solved problems</li>
        </ul>

        <div class="endpoint">GET url/codeforces/&lt;user_name&gt;</div>

        <a href="{{ url_for('codeforces_guide') }}" class="btn">View Docs</a>
      </div>


      <div class="card">
        <div class="card-header">
          <h3>CodeChef</h3>
          <span class="tag">API</span>
        </div>

        <p class="card-desc">
          Current Rating,change in rating and problem solved based on Profile.
        </p>

        <ul class="card-list">
          <li>Current rating</li>
          <li>Rating changes</li>
          <li>Problems solved</li>
        </ul>

        <div class="endpoint">GET url/codechef/&lt;user_name&gt;</div>

        <a href="{{ url_for('codechef_guide')}}" class="btn">View Docs</a>
      </div>

    </div>

  </div>
</section>

{% include "footer.html" %}